.tabela_cabecalho {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

    width: 964px;
    height: 58px;
    border-radius: 10px;
    background: #FAFAFA;
    box-shadow: 0 2px 11px rgba(0, 0, 0, 0.08);

    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
}


.item_data {
    width: 60px;
}

.item_dia {
    width: 105px;
    margin-left: 20px;
}

.item_descricao {
    width: 112px;
}

.item_categoria {
    width: 118px;
    padding-left: 20px;
}

.item_valor {
    width: 85px;
    margin-right: 65px;
}

.item_data,
.item_dia,
.item_descricao,
.item_categoria,
.item_valor {
    display: flex;
    justify-content: center;
    flex-direction: row;
}