@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");


.container-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding: 108px 122px 0px 100px;
}

.container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    font-family: 'Rubik', sans-serif;

    max-width: 614px;
}

.container-left h1 {
    color: #fff;

    font-size: 52px;
    font-weight: 700px;
}

.container-left strong {
    color: #7978d9;
}

.container-left h2 {
    max-width: 600px;

    color: #fff;

    font-size: 28px;
    font-weight: 300;
    margin: 33px 0 43px 0;
}

.btn-cadastrar {
    width: 284px;
    height: 48px;
}