.container_principal {
    width: 100%;
    height: 927px;
    padding: 55px 72px;
    border-radius: 65px 65px 0px 0px;

    position: absolute;
    top: 136px;

    background-color: #fff;
}

.dashboard {
    display: flex;
    min-width: 964px;
}