.container-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;

    background-image: url("../../assets/background1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.header {
    display: flex;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    color: white;

    margin-left: 100px;
    margin-top: 41px;
}

.logo-dindin {
    padding-left: 50px;
    padding-top: 41px;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 80px;
    width: 100%;
}